.App {
  text-align: center;
  border: 1px solid red;
  width: 70%;
  margin: auto;
  height: 300px;
  margin-top: 20%;
}

.header{
  display: flex;
  justify-content: space-between;
   margin-bottom: 40px;
   border: 1px solid rgb(149, 255, 0);
}
.main{
  border: 1px black solid;
  width: 50%;
  margin: auto;
  border-radius: 30px;
  color:white;
  background-color: black;
}
span{
  background-color: black;
}
button{
  padding: 10px;
  margin-top: 10px;font-size: x-large;
  border-radius: 10px;
  border: none;
}
.blue{
  color: rgb(43, 148, 240);
}
p:hover{
  color: rgb(43, 148, 240);
}
button:hover{
  background-color: black ;
  color: white;
}
